<%- include('../includes/head.ejs', { title: 'WELCOME' }) %>
</head>
<body>
  <%- include('../includes/header.ejs') %>
  <main>
    <h1><%=item.name%></h1>
    <img src="/<%=item.image%>" alt="" width="200px">
    <p><%=item.price%> 원 / 개</p>
    <p><%=item.detail%></p>
    <form method="post" action="/<%=item._id%>/detail">
      <p>개수 선택 : </p>
      <select>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <button class="btn btn-alt">장바구니 담기</button>
</form>
  </main>
</body>
</html>